# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# Testing
/coverage

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml
